[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rmixmod"]
	path = Rmixmod
	url = https://github.com/mixmod/mixmod
	subdir = Rmixmod
